# Maven output
/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore build files from old Gradle setup
.gradle/
build/

# Ignore generated wrapper scripts
gradlew
gradlew.bat
gradle/
